@import "tailwindcss";

@theme {
  --color-french-blue: #0055A4;
  --color-french-white: #FFFFFF;
  --color-french-red: #EF4135;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  min-height: 100vh;
}
